body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 /* light Mode */
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
  }

  /* Dark Mode */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
  header {
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  nav ul {
    list-style: none;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  section {
    padding: 2rem;
  }
  .project-card {
    border: 3px solid #ddd;
    padding: 1rem;
    margin: 1rem 0;
  }
 .img-badge {
    width: 30%;  /* Each image takes 30% of the container */
    max-width: 200px; /* Prevents them from getting too big */
    height: auto; /* Keeps aspect ratio */
 }

  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    background: #007BFF;
    color: white;
    border-radius: 5px;
  }
  button:hover {
    background: #0056b3;
  }

  /* dark mode button (Desktop)*/
#darkModeToggle {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
/* Change position for mobile devices */
@media (max-width: 768px) {
  #darkModeToggle {
      top: auto;  /* Remove top positioning */
      bottom: 20px; /* Move to bottom */
      right: 20px; /* Keep it on the right */
      border-radius: 50px; /* Make it more like a floating button */
      padding: 12px 16px;
      font-size: 16px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  }
}

#darkModeToggle:hover {
  background-color: #555;
}

/* Adding style to links 
.project-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Blue color 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
}

.project-link:hover {
  background-color: #0056b3; /* Darker blue on hover 
  transform: scale(1.05); /* Slight zoom effect 


}
  */
.project-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  background: linear-gradient(45deg, #34f71f, #2bff55);
  box-shadow: 0 4px 10px rgba(255, 75, 43, 0.3);
  transition: box-shadow 0.3s, transform 0.2s;
}

.project-link:hover {
  box-shadow: 0 4px 20px rgba(255, 75, 43, 0.6);
  transform: translateY(-2px);
}



